@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --scrollbar-width: 1px; /* Super thin scrollbar */
  --scrollbar-track: #d1d5db; /* gray-300 */
  --scrollbar-thumb: #6b7280; /* gray-500 */
  --scrollbar-thumb-hover: #4b5563; /* gray-600 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans, "Arial", "Helvetica", sans-serif);
  --font-mono: "Fira Code", "JetBrains Mono", "Consolas", "monospace";
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #f0f0f0;
    --scrollbar-track: #374151; /* gray-700 */
    --scrollbar-thumb: #6b7280; /* gray-500 */
    --scrollbar-thumb-hover: #4b5563; /* gray-600 */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

/* WebKit Scrollbar Styles */
::-webkit-scrollbar {
  width: var(--scrollbar-width);
  height: var(--scrollbar-width);
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
  border-radius: var(--scrollbar-width);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: var(--scrollbar-width);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

/* Firefox Scrollbar Styles */
html {
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
  scrollbar-width: thin;
}