@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Softer dark background and slightly dimmed foreground */
    --background: #121212; /* Lighter than #0a0a0a */
    --foreground: #f0f0f0; /* Lighter than #ededed */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.scrollbar-theme::-webkit-scrollbar-thumb {
  background: color-mix(in srgb, var(--background) 80%, transparent 20%);
  border-radius: 12px;
  border: 2px solid var(--background);
}
